@import './theme.scss';
@import './root.scss';
body, head {
    width: 100%;
    margin: 0px !important;
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
